@page "/DownloadInfos/{Id}"
@inherits DownloadInfosModel

<div class="container">
    <div class="card shadow mb-3">
        <div class="card-header">
            Unity I Tell You - @Title
        </div>
        <div class="card-body">
            @if (Loading)
            {
                <div class="row justify-content-center mt-5">
                    <div class="col-12 col-md-8 col-lg-6 col-xxl-5">
                        <div class="card card-body">
                            <div class="d-flex mb-3 justify-content-center">
                                <div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
                                <p class="mb-0 align-self-center ms-3 fs-5">加载中, 请稍后</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @if(this.DownloadInfos == null || this.DownloadInfos.Count() < 1)
                {
                    <div class="alert alert-dark" role="alert">
                        暂无数据
                    </div>
                }
                else
                {
                    @foreach(var item in this.DownloadInfos)
                    {
                        <div class="card mb-1" id="@item.GithubTag">
                            <div class="card-body row">
                                <div class="col-4">
                                    <h6 class="h6">@item.Title</h6>
                                    <p class="mb-0">@item.Date</p>
                                </div>
                                <div class="col-8 float-right">
                                    <a href="@item.UnityHubUri" class="btn btn-outline-primary @(string.IsNullOrEmpty(item.UnityHubUri) ? "disabled" : string.Empty)">
                                        <span class="oi oi-terminal"></span>
                                        Unity Hub下载
                                    </a>
                                    <a href="@($"https://github.com/UnityITellYou/UnityITellYou.github.io/releases/tag/{item.GithubTag}")" target="_blank" class="btn btn-outline-info @(string.IsNullOrEmpty(item.GithubTag) ? "disabled" : string.Empty)">
                                        <span class="oi oi-paperclip"></span>
                                        直接下载
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
